*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: black;
    
    color: white;
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 100px;
    font-family: monospace;
    background-color: rgb(15, 97, 15);
    padding: 20px 40px;
    border-radius: 30px;
}