*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color:black;
}

main{
    height: 100%;
        width: 100%;
    display: flex;
    align-items: center;
        justify-content: center;
}
#card{
    padding-top: 10px;
    height: 300px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
}
#card img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}

#card div{
    position: relative;
    overflow: hidden;
}
#card h2{
    text-align: center;
    margin-bottom: 10px;
}

#card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    
    opacity: 0;
    color: transparent;

    background-image: url('https://png.pngtree.com/background/20220731/original/pngtree-instagram-color-gradient-background-picture-image_1911308.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;

    transform: translate(-50%, -50%) scale(0) rotate(-90deg);
    transition: all cubic-bezier(1, 1.28, .47, .48) 0.3s;
}

