*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

*html, body{
    height: 100%;
    width: 100%;
   
}

#main{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    
}
.card{
    
    padding: 20px;
    margin: 40px 40px;
        height: 400px;
        width: 300px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 20px 20px 60px rgb(39, 32, 32);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
  
}
#img{
    height: 100px;
    width: 100px;
        background-image: url("https://images.unsplash.com/photo-1756894256833-934a85a42df9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        border-radius: 50%;

}
.card h2{
    font-weight: 300;
}

.card button{
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    background-color: blue;

    cursor: pointer;
    border-radius: 20px;
    }

    .card p{
        text-align: center;
        padding:  10px;
    }
.card button:hover{
        border: 2px solid rgb(86, 140, 221);
    background-color: transparent;
    color: black;
}