* {
    margin: 0;
    padding: 0;
}

html,
body {

    height: 100%;
    width: 100%;
.poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }
}
body{
    height: 100vh;
        width: 100%;
        margin: 0;
    background-image: url(./image.png);
    background-size: cover;
    background-position: center;
        background-repeat: no-repeat;
}

nav {
margin-top: 20px;
    height: 10vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    ul{

                display: flex;
                gap: 30px;
                /* space between menu items */
            a{
                color: white;
                font-weight: 400;
                font-size: 25px;
            }
            #home{
                color: rgb(96, 96, 98);
            }
            i{
                        margin-right: 8px;
                        font-size: 18px;
                        color: rgb(255, 255, 255);
            }
    }
}

section{
    margin: 10%;
    margin-left:25%;
    margin-right:25%;
    color: white;

    h6{
        display: flex;
        font-size: 50px;
        justify-content: center;
    }
    h1{
        font-weight: 400;
        font-size: 70px;
        
    }
    #mid{
        margin: 5%;
    }
    .dots{
        margin: 10%;
        margin-left: 45%;
    }
        .slider-dots {
            text-align: center;
            margin-top: 20px;
        }
        .dot{
            justify-content: center;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
                display: inline-block;
                gap: 10px;
                margin: 0 10px;
                cursor: pointer;
                    transition: background-color 0.3s;
        }
                .dot.active {
                    background-color: #717171;
                }
}