*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: black;
    font-size: 40px;
    color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    
}

main{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    height:500px;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    
}

.card img{

    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card h2{
    color: rgb(10, 6, 247);
    font-weight: 200px;
    
}
.card h3{
    font-size: 50px;
    font-weight: 400;
    color: black;
    white-space: no;
}
.card h4{
    color: black;
    font-size: 19px;
}