*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: white;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
 background-color: lightblue;
 padding: 30px;
    display: flex;
    gap: 30px;

}
.card{
    height: 300px;
    width: 300px;
    position: relative;
    background-color: white;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 30px;
 

}

.card img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: all 1s ease;
    
}
.bottom{
    height:40%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    position: absolute;
    bottom: -40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.3s ease;
    overflow: hidden;

}
.bottom h3{
    
}
.card:hover .bottom{
    bottom: 0;
}