body{
    background-color: black;
    font-size: 40px
    color: white;
}
button{
    margin: 10px;
    background-color: red  ;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
h1{
    font-size: 40px;
    margin-left: 100px;
}