*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: black;
    font-size: 40px;
    color: white;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
#box {
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: rgb(20, 30, 60);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: 2px solid blue;
}
button{
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 10px;
}

button:active{
    cursor: pointer;
    scale: 0.95;
}
main{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box{
    text-align:center;
}