* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html,
body {

    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: 100px 200px 1fr;
    grid-template-areas:
        "header header"
        "aside section"
        "footer footer";
        padding: 20px;
        gap: 10px;
}

header {
    background-color: red;
    grid-area: header;
}
aside {
    background-color: green;
    grid-area: aside;

}

section {
    background-color: blue;
    grid-area: section;
}

footer {
    background-color: orange;
    grid-area: footer;
}