* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkblue;
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
    
}

button{
    background-color: blue;
    color: white    ;
    padding:5px;
}
