/* Make body and html take full screen */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Container box */
#container {
    width: 100%;
    height: 100%;
    padding: 10px;
    /* padding inside box */
    display: grid;
    /* use grid layout */
    gap: 5px;
    /* space between grid items */
    background-color: #f0f0f0;
}