* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

:root {
    --bg-primary-color: #000000;
    --text-primary-color: #ffffff;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    --border-primary-color: #322f2f;

    --border-radius-sm: 8px;
}

html {
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, sans-serif;
}

main,
section {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
}

.block {
    width: 30px;
    height: 30px;
    border: 1px solid #1a1a1a;
}