*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: black;
    font-size: 40px;
    color: white;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}


.outer{
    height: 30px;
    width: 100%;
    background-color: rgb(184, 181, 181);
    border-radius: 10px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}

.bottom{
    padding: 30px;
    font-weight: 300;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button{
    padding: 10px;
    background-color: rgb(140, 201, 140);
    border-radius: 10px;
    font-weight: 600;
}